<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" userInstalled="true" />
  <package id="ILMerge.Tools" version="2.14.1208" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net451" userInstalled="true" />
  <package id="TCD.System.TouchInjection" version="1.0.0" targetFramework="net451" />
  <package id="Winium.Cruciatus" version="2.9.1" targetFramework="net451" />
</packages>